.Banner {
  position: relative;

  width: 100%;
  height: 500px;
}

.Banner img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  opacity: 0.65;
}

.BannerTextContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.BannerText {
  color: #fff;
  font-weight: 600;
  font-size: 4rem;
  user-select: none;
}

.IntroText {
  font-size: 1.2rem;
  color: #666;
}

.VideoPlayer {
  display: flex;
  justify-content: center;
  margin: 20px;
}

@media screen and (max-width: 600px) {
  .Banner {
    height: 300px;
  }
}
